.pages-nav {
    width: 100%;
}

.pages-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.pages-button {
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.active {
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    background-color: gold;
}